@import "vendor/bootstrap/variables";
.center{
  text-align: center
}

// Add a hover state for linked versions only
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: transparent;
}
.item{
  margin: 0px -6px 0px 0px;
  padding: 0 0 0 0;
  display: inline-block;
  width: 300px;
}
.lead {
  margin-top: $line-height-computed;
  h1, h2, p,small, span{
    // background-color: white;
    color: black;
    padding: 2px 2px 2px 2px;  
  }
  small{

  }
  
}

footer {
  position: relative;
  bottom: 0px;
}