%footer
  .footer.text-center.text-uppercase
    %small
      =link_to "the cook", "http://the-french-cook.com"
      , 
      = link_to "the dev", "http://fabbook.fr"
      and
      = link_to "the photographer", portfolio_path