---
hide_from_sitemap: true
---

%footer
  .footer.text-xs-center.text-uppercase
    %small
      =link_to "the cook", "http://the-french-cook.com"
      , 
      = link_to "the dev", "http://fabbook.fr"
      ,
      = link_to "the fighter", "http://fabfight.com"
      and
      = link_to "the photographer", portfolio_path