---
hide_from_sitemap: true
---

%nav.navbar.navbar-light.bg-faded
  %button.navbar-toggler.hidden-sm-up{"aria-controls" => "exCollapsingNavbar2", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#exCollapsingNavbar2", "data-toggle" => "collapse", :type => "button"}
    &#9776;
  .collapse.navbar-toggleable-xs#exCollapsingNavbar2
    
    %ul.nav.navbar-nav
      %li.nav-item
        %a{:href => home_path }
          = image_tag 'fgarcia.png', resize_to: '50x50'
      %li.nav-item{class: css_class(home_path)}
        %a.nav-link{:href => home_path  } About
      %li.nav-item{class: css_class(portfolio_path) }
        %a.nav-link{:href => portfolio_path } Albums