.navbar.navbar-default
  .container
  .navbar-header
    %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => home_path } Fabphoto
  #navbar.collapse.navbar-collapse
    %ul.nav.navbar-nav
      
      %li{class: css_class(home_path)}
        %a{:href => home_path  } About
      %li{class: css_class(portfolio_path) }
        %a{:href => portfolio_path } Albums