---
title: Fabphoto
cover: cover1.jpg
body_class: slide_show
---

.container.content
  .row
    .jumbotron
      .text-xs-center
        %h1.display-1 Fabphoto
  .row
    %blockquote.blockquote.text-uppercase
      %p
        = link_to  portfolio_path do
          %small Quelques photos d'un peu partout et d'un peu de tout
      %p
        = link_to portfolio_path, class: "btn btn-link" do
          Fabien Garcia
          >>
          