---
title: Fabphoto
cover: cover1.jpg
body_class: slide_show
---

.container.content
  .row
    .jumbotron.text-xs-center
      %h1.display-2.white.border Fabphoto
  .row
    %blockquote.blockquote
      %p.text-uppercase
        = link_to  portfolio_path do
          My pictures selection
      %p
        = link_to portfolio_path, class: "btn btn-link" do
          F Garcia >>
          