---
title: Middleman is Watching
body_class: slide_show
---

.content
  .row.lead.text-right.text-uppercase
    %span Fabien Garcia
  .row.lead.text-right.text-uppercase
    = link_to  portfolio_path do
      %small Quelques photos d'un peu partout et d'un peu de tout >>
    