---
title: Fabphoto Albums
cover: cover1.jpg
--- 
.row.w-100
  - for project in project_resources
    .col-xs-12.col-sm-6.col-md-3.col-lg-3.col-xl-3.text-xs-center.p-x-0
      = link_to project.path, class: 'bg-fade-out' do
        = image_tag('images/loading.gif', class: 'preload-picture', data: {src: project.metadata[:locals][:thumbnail_resources].first.path})
        %h2.centered-horizontal-text.white.border= album_title(project.metadata[:locals][:name])