---
title: Fabphoto Albums
--- 
.container-fluid.text-center
  - for project in project_resources
    .item
      = link_to project.path do
        = image_tag project.metadata[:locals][:thumbnail_resources].first.path