---
title: Fabphoto Albums
--- 
.row
  - for project in project_resources
    = link_to project.path, class: "thumbnail col-xs-6 col-md-4" do
      = image_tag project.metadata[:locals][:thumbnail_resources].first.path