---
title: Fabphoto Album
---

.m-x-auto
  - for thumb in thumbnail_resources
    .item
      = link_to thumb.metadata[:locals][:project_image_resource].url, class: "swipebox" do
        = image_tag thumb.path, class: ""
