---
title: Fabphoto photos
---
.row
  - for thumb in thumbnail_resources
    = link_to thumb.metadata[:locals][:project_image_resource].url, class: "#{options.thumbnail_link_class} col-xs-12 col-md-4 swipebox" do
      = image_tag thumb.path, class: "#{options.thumbnail_class}"
